/* Главная секция-контейнер */
.section-page {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Контейнер с инпутом */
.div-input {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 30px;
  max-height: 30%;
  background: white;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

/* Поле поиска */
.text-field {
  width: 100%;
  font-size: 16px;
  
  min-height: 30px;
  max-height: 100%;
  border-radius: 9px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 3px 2px 5px 0 rgba(82, 5, 237, 0.2);
  box-sizing: border-box;
}

.text-field:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 4px #007bff;
}

/* Контейнер с фильтрами */
.div-filter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  margin-top: 4px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.filter-item {
  flex: 1 1 190px;
  min-width: 120px;
  max-width: 200px;
  min-height: 45px;
  max-height: 100px;
  font-size: 16px;
}

.select-item,
.select-brand {
  width: 200px;
  height: 45px;
  padding: 6px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

.select-item:focus,
.select-brand:focus {
  border: 1px solid #007bff;
}


/* Кнопки размеров */
.size-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 6px!important;
}

.size-button {
  background-color: #7232d2;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width:55px;
  height: 40px;
  
}
.size-button:hover {
  background-color: #844bd8;
}

.size-button.selected {
  background-color: #ffffff;
  color: black;             /* Чёрный текст */
  box-shadow: 0 0 0 2px white, 0 0 0 4px #b106f0;
}

/* кнопка все товары или со скидкой */

.discount-button {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid transparent;
  width: 150px;
  height: 40px;
 
  background: linear-gradient(270deg, #b3267a, #b106f0); /* Цвета градиента */
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
}

.discount-button:hover {
  background-color: #e0e0e0;
}

.discount-button.active {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #b106f0; /* Белый отступ + синяя граница */
  background-color: #e6f0ff;
  font-weight: 500;
}

/* Список товаров */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  padding: 16px;
}
