/* .section-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 30px;
  box-sizing: border-box;
  min-height: 100vh; 
  overflow-y: auto; 
} */

.section-page {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}
/* Контейнер с фильтрами */
.div-filter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;  /* Увеличено расстояние между элементами */
  margin-top: 4px;
  margin-bottom: 16px; /* Добавлен отступ снизу, чтобы кнопки не сливались с товаром */
  box-sizing: border-box;
}

/* Каждый фильтр */
.filter-item {
  flex: 1 1 100px;
  min-width: 80px; /* Минимальная ширина */
  display: flex;
  justify-content:flex-start; /* Центрируем контент */
  align-items: flex-start;
  gap: 2px;  /* Между элементами в фильтре */
}

/* Для селектов и кнопок */
.select-item,
.select-brand,
.discount-button,
.allsize-button,
.size-button {
  width: 100%;
  height: 40px;
  padding: 6px;
  font-size: 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;
}

.select-item:focus,
.select-brand:focus {
  border-color: #007bff;
}

.discount-button:hover,
.size-button:hover {
  background-color: #e0e0e0;
}

/* Кнопки со скидкой */
.discount-button {
  background: linear-gradient(270deg, #b3267a, #b106f0);
}

.discount-button.active {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #b106f0; /* Белый отступ + синяя граница */
  background-color: #e6f0ff;
  font-weight: 500;
}


.allsize-button {
  background: #7232d2;
}

.allsize-button.active {
  border: 1px solid #c3c3c3; /* Фиолетовая красивая рамка */
  background-color: #ffffff;
  font-weight: 500;
  color: black;
}

/* Кнопки размеров */
.size-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 4px !important;
  width: 100%;
  margin-top: 2px; /* Расстояние сверху от фильтров */
  margin-bottom: 16px; /* Убираем перекрытие с товарами */
}

/* Размеры кнопок */
.size-button {
  background-color: #7232d2;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 55px;
  height: 40px;
}

.size-button:hover {
  background-color: #844bd8;
}

.size-button.selected {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #b106f0;
}

/* Список товаров */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 12px;
  margin-top: 16px; /* Отступ сверху, чтобы товар не прижимался к фильтрам */
}
