.product-page {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}

.top-bar-wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.product-page-image-full {
  width: 100%;
  max-height: 350px;
  object-fit: contain;  /* Используем contain вместо cover */
  margin: 0 auto 20px auto;
  display: block;
  border-radius: 10px;
}

.product-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.product-page-price {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.discounted {
  color: red;
  font-weight: bold;
  margin-right: 10px;
}

.original {
  text-decoration: line-through;
  color: gray;
}

.sizes {
  margin: 20px 0;
}

.size-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.size-wrapper {
  position: relative;
  display: inline-block;
}

.size-btn {
  padding: 10px 16px;
  border: 1px solid #bbafaf;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.2s;
  font-size: 13px;
  width: 50px;
  height: 35px;
}

.size-btn.active {
  background: #7232d2;
  color: white;
  border-color: #7232d2;
}

.discount-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: linear-gradient(270deg, #b3267a, #b106f0); /* Цвета градиента */;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 6px;
}

.buy-btn {
  padding: 12px 20px;
  background-color: #7232d2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background 0.3s;
}

.buy-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buy-btn {
  transition: all 0.3s ease;
}

.buy-btn.added {
  background-color: #7232d2;
  transform: scale(1.05);
}

.buy-btn.added:hover {
  background-color: #007bff; /* Обычный hover для "добавить" */
}

.buy-btn:not(.added):hover {
  background-color: #007bff; /* Обычный hover для "добавить" */
  color: white;
}