/* body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: block;
    justify-content: center; 
    overflow-y: auto;
    overflow-x: hidden; 

  } */
  html {
    font-size: 14px;
    touch-action: none;
    height: 100lvh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }

  body {
    height: 100lvh;
    overflow: hidden;
  }

  #app {

    height: 100%;
    width: 100%;
  }