body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: block;
    justify-content: center; 
    overflow-y: auto;
    overflow-x: hidden; 
    font-family: 'Arial', sans-serif; /* Замените на нужный шрифт */
    font-size: 25px; /* Размер шрифта по умолчанию */
    line-height: 1.5; /* Межстрочный интервал */
  }